/* Font sizes */

$font-s1: 60px;
$font-s2: 32px;
$font-s3: 24px;
$font-s4: 20px;
$font-s5: 16px;

/* Colors */

$highlight: #41caff;
$light-grey: #ccc;
$mid-grey: #aaa;

$min-scr-width: 320px;
$scr-width-xs:  479px;
$scr-width-sm:  639px;
$scr-width-md:  1023px;
$scr-width-lg:  1279px;
$max-scr-width: 1890px;
