@import url('https://unpkg.com/css.gg/icons/all.css');

body {
  background-color: beige;
  font: 16px "Manrope", Helvetica, Arial, sans-serif;
  height: 100vh;
}

a {
  color: #00B7FF;

  &:hover {
    color: red;
    text-decoration: none;
  }
}

.blog-content {
  min-height: 65vh;

  img {
    max-width: 400px;
  }

  h2 {
    ion-icon {
      opacity: .3;
      margin-bottom: 4px;
      margin-right: 4px;
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
  margin-bottom: 1.25rem;
}

.hidden-link {
  color: inherit;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.top-nav {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

[class^="gg"] {
  display: inline-block;
  --ggs: .7; // sets the gg icon size
}

.jumbotron {
  background-color: rgba(0, 0, 0, .1);
}

.page {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.article-list {
  li {
    display: block;
    font-size: 20px;
    margin-bottom: 1rem;

    [class^="gg"],
    ion-icon {
      margin-right: 10px;
      margin-bottom: -1px;
      path {
        stroke: red;
      }
    }
  }
}

.separator {
  display: inline-block;
  color: lightgrey;
  padding: 0 10px;
}

.footer {
  ul {
    li {
      a {
        padding-left: .5rem;
        padding-right: .5rem;
      }
    }
  }
  .social-link {
    font-size: 1.5rem;
  }
}
