body {
  background-color: beige;
  font: 16px "Manrope", Helvetica, Arial, sans-serif;
  height: 100vh;
}

a {
  color: #00B7FF;

  &:hover {
    color: red;
  }
}

.blog-content {
  min-height: 65vh;

  img {
    max-width: 400px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.jumbotron {
  background-color: rgba(0, 0, 0, .1);
}

.page {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.article-list {
  li {
    display: block;
    font-size: 20px;
    margin-bottom: 1rem;
  }
}