@import url('https://unpkg.com/css.gg/icons/all.css');
@import 'bootstrap/_functions.scss';
@import 'bootstrap/_variables.scss';
@import 'bootstrap/_breakpoints.scss';
@import '_variables.scss';
@import '_mixins.scss';

body {
  background-color: #111;
  background-image: url("/images/bg-photo-02.jpg");
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Fira Sans', 'Helvetica Nueu', Arial, sans-serif;
  font-weight: 400;
  color: #fff;

  &[class*="about"],
  &[class*="resources"] {
    background-image: url("/images/bg-lightning.jpg");
  }
}

@media (max-width: $min-scr-width) {
  body {
    background-position: calc(100% - 0px) top;
    background-size: 130%;
  }
}

.hide {
  display: none;
}

.no-wrap {
  white-space: nowrap;
}

p, li {
  font-size: $font-s3;
  color: #F2F2F2;
  line-height: 1.5;
}

p.small {
  font-size: $font-s4;
}

b {
  font-weight: 600;
}

a,
.pseudo-link {
  color: #fff;
  border-bottom: 1px solid $light-grey;

  &:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    border-bottom-color: darken($light-grey, 50%);
  }
}

a.link-ext {
  color: #111;
  background: #fff;
  border: none;
}

.reset-link-style {
  border-bottom: 0;
}

.mask-link-style {
  border-bottom: 1px black solid;
}

h1 {
  text-align: center;
  margin: 0 0 1% 0;
}

h2 {
  font-weight: 600;
  line-height: 1;
  font-size: $font-s1;
  color: $highlight;
  margin-top: 2vw;
}

h3 {
  font-size: $font-s2;
  font-weight: 600;

  .small-caps {
    font-size: 80%;
    font-weight: 300;
    text-transform: uppercase;
  }

  * + .small-caps {
    padding-left: 10px;
  }
}

h4 {
  font-size: $font-s3;  
  font-weight: 600;
}

h3, h4, h5 {
  color: #aaa;
}

h3 + h2 {
  margin-top: 1vw;
}

// font sizes XS

@media screen and (min-width: $max-scr-width) {
  h1 {
    font-size: 9.2vw;
  }
}

@media (min-width: $min-scr-width) and (max-width: $scr-width-sm) {
  p, li {
    font-size: $font-s4;
  }

  h1 {
    font-size: 9.4vw;
  }

  h2 {
    font-size: $font-s2;
  }

  h3 {
    font-size: $font-s3;

    .small-caps {
      font-size: 66%;
    }
  }

  h4 {
    font-size: $font-s4;  
    font-weight: 600;
  }
}

// font sizes SM
@media (min-width: $scr-width-xs) and (max-width: $scr-width-sm) {
  h2 {
    font-size: $font-s3;
  }
}

pre {
  color: #ffffffaa;
}

.master-container {
  max-width: $max-scr-width;
  margin: 0 auto;
}

.top-nav {
  margin-bottom: -1rem;
}

.nav-pill {
  display: inline-block;
  background-color: $dark-grey;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  color: $light-grey;
  padding: 8px 20px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.07rem;

  svg {
    margin: -5px 0 0;
  }

  &.active {
    color: $highlight;

    path {
      fill: $highlight;
    }
  }
}

@media screen and (max-width: $scr-width-sm) {
  .nav-pill {
    svg {
      height: 22px;
    }
  }  
}

.episode-list {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
  font-size: $font-s3;
  color: $mid-grey;

  li {
    position: relative;
    padding-left: 85px;
    margin-bottom: 10px;
    line-height: 1.3;
  
    &.selected {
      border: 2px solid $mid-grey;
      box-sizing: border-box;
      padding: 25px 25px 25px 110px;
      margin-left: -25px;
      margin-right: -25px;
      margin-bottom: $font-s2;

      .num-and-title {
        display: none;
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }  

  .episode-num {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.date {
  white-space: nowrap;
}

@media screen and (max-width: 576px) {
  .episode-list li.selected {
    background: #333;
    border: 0;
    padding-left: 25px;
    margin-left: -15px;
    margin-right: -15px;

    .episode-num {
      position: static;
    }

    .date {
      display: block;
      padding-left: 0;
      margin-top: 5px;
    }
  }
}

// font sizes XS
@media (min-width: $min-scr-width) and (max-width: $scr-width-sm) {
  .episode-list {
    font-size: $font-s4;
  }
}

.selected-box {
  position: relative;

  .episode-num {
    left: -87px;
  }
  
  div > h3, h4 {
    padding-right: 75px;
    margin-bottom: 1.5rem;
  }

  .player {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.episode-desc {
  position: relative;    
  font-size: $font-s3;
  color: $mid-grey;

  > p {
    width: calc(100% - 100px);
  }

  p {
    line-height: 1.35;
    color: $mid-grey;

    &:last-of-type {
      margin-bottom: 0;
    }
  }  

  ul {
    margin-bottom: 15px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}


@media (min-width: $min-scr-width) and (max-width: $scr-width-sm) {
  .episode-desc {
    font-size: $font-s4;
  }
}

@media (max-width: $min-scr-width) {
  .spacer-xs {
    height: 25vw;
  }
}

@media (min-width: $min-scr-width) and (max-width: 768px) {
  .spacer-sm {
    height: 20vw;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .spacer-md {
    height: 20vw;
  }
}

@media screen and (min-width: 993px) {
  .spacer-lg {
    height: 10vw;
  }
}

.bulleted {
  list-style: none;
  list-style-type: disc;
  list-style-position: outside;
  margin: 0;
  padding: 0;

  li {
    padding-left: 0;
    margin-left: 20px;
  }
}

.footer .row {
  margin: 80px 0 0;

  p {
    font-size: $font-s4;
    color: $mid-grey;
    
    @media screen and (max-width: $scr-width-sm) {
      font-size: $font-s5;
    }
  }
}

.btn-play {
  display: inline-block;
  width: 66px;
  height: 66px;
  background-image: url(/images/btn-play.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  text-indent: -4000px;

  &:hover {
    opacity: 0.7;
  }

  &.is-playing,
  &[data-is-playing="true"] {
    background-image: url(/images/btn-pause.svg);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 1px;
      right: 1px;
      top: 1px;
      bottom: 1px;
      border: 3px dotted #111;
      border-radius: 50%;
      animation: rotating 20s linear infinite;
    }
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.textual {
  h3 {
    color: #f2f2f2;
  }
  
  p {
    color: $mid-grey;
  }
}

// episode nav

.episode-nav {
  font-size: $font-s4;
  margin: 0 50px;

  a {
    border: 0;
    display: inline-block;
    position: relative;

    .arrow {
      height: 60px;
      position: absolute;
      top: 10px;

      &.prev {
        left: -50px;
        transform: rotate(180deg);
      }
      &.next {
        right: -50px;
      }
    }

    &:hover {
      opacity: .8;
    }
  }
}

// 404
.huge {
  font-size: 260px;
  line-height: 1;
}

// Subscribe Links

.sub-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;

  li {
    margin-bottom: 1.2rem;
    font-size: $font-s4;

    a {
      border-bottom-width: 0;

      img {
        margin-right: 8px;
      }

      span {
        border-bottom: 1px solid $light-grey;
      }
    }
  }
}

@media (max-width: $scr-width-sm) {
  .sub-list {
    li {
      font-size: $font-s5;
    }
  }
}

@media screen and (min-width: $scr-width-sm) and (max-width: 991px) {
  .sub-list {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }
}

@media screen and (min-width: 992px) and (max-width: $scr-width-lg) {
  .sub-list {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}

// Player Player

.player-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 30px;
  background-color: #000000dd;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: transform .5s ease-in-out;

  &.active {
    transform: translateY(0%);
  }
}

.progress-wrapper {
  flex: 1;
}

.progress-bard {
  position: relative;
  width: 100%;
  height: 10px;
  background: #ffffffcc;
  border-radius: 50px;
  cursor: pointer;

  &:hover {
    background-color: #fff;
  }

  .so-far {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: $highlight;
    border-radius: 50px 0 0 50px;
  }
}

.list-inline {
  .badge {
    font-size: 100%;
  }
}

.avatar {
  border-radius: 50%;
  max-width: 150px;
}