@import url('https://unpkg.com/css.gg/icons/all.css');
@import 'bootstrap/_functions.scss';
@import 'bootstrap/_variables.scss';
@import 'bootstrap/_breakpoints.scss';
@import '_variables.scss';
@import '_mixins.scss';

body {
  font: 16px "Manrope", Helvetica, Arial, sans-serif;
  height: 100vh;
  background-color: $main-bg;
  color: $text-color;
}

a {
  color: #00B7FF;

  &:hover {
    color: $accent-color;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
  margin-bottom: 1.25rem;
}

.hidden-link {
  color: inherit;
}

small {
  &.meta {
  color: $light-gray;
  }
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.top-nav {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.navbar-brand {
  font-weight: 600;
}

[class^="gg"] {
  display: inline-block;
  --ggs: .7; // sets the gg icon size
}

.jumbotron {
  background-color: rgba(0, 0, 0, .1);
  background-image: url(/images/bg-nyc1.jpg);
  background-position: center top 8%;
  background-size: cover;
  color: white;
  padding: 7rem 2rem;
  border-radius: 0;
  animation: backgroundScroll 20s ease-in-out 1;
  animation-iteration-count: infinite;

  *:last-child {
    margin-bottom: 0;
  }
}

@keyframes backgroundScroll {
  0% { background-position: center top 5%; }
  50% { background-position: center top 18%; }
  100% { background-position: center top 5%; }
}

.page {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.blog-content {
  min-height: 65vh;

  img {
   max-width: 400px;
  }

  h2 {
    ion-icon {
      opacity: .3;
      margin-bottom: 4px;
      margin-right: 4px;
    }
  }
}

.font-light {
  font-weight: 300;
}

$caption-padding: 6px;
$caption-color: rgba(63, 27, 11, 0.8);

.caption {
  margin-left: $caption-padding * 1.5;
  line-height: 1.7;

  span {
    background: $caption-color;
    color: white;
    padding: $caption-padding 0px;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    box-shadow: 
      $caption-padding * 1.5 0 0 $caption-color, 
      -$caption-padding * 1.5 0 0 $caption-color;
  }
}

.highlight {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #f8f9fa;

  pre {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.article-list {
  li {
    display: block;
    font-size: 20px;
    margin-bottom: 1rem;

    a {
      display: block;
    }

    p {
      margin-bottom: .5rem;
    }

    [class^="gg"],
    ion-icon {
      margin-right: 10px;
      margin-bottom: -1px;
      path {
      stroke: red;
      }
    }
  }

  &.featured {
    display: flex;
    flex-flow: wrap;

    li {
      width: 48%;
      display: inline-block;
      margin-bottom: 2rem;

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      .heading {
        margin-bottom: .1rem;
        padding-bottom: 2px;
        @include clamped(2);
      }

      p {
        color: $text-color;
        font-size: 18px;
      }

      + :not(.featured) {
        margin-top: 2.5rem;
      }

      a {
        &:hover {
          .img-gradient {
          background: linear-gradient(45deg, rgba(191,195,0,0.1) 0%, rgba(37,37,189,0.1) 35%, rgba(0,212,255,0.5) 100%);
          }

          img {
            transform: scale(1.5);
          }
        }
      }
  }
  }
}

.img-gradient {
  background: linear-gradient(45deg, rgba(191,195,0,0.3) 0%, rgba(37,37,189,0.3) 35%, rgba(0,212,255,0.5) 100%);
  max-width: 300px;
  margin-top: .5rem;
  overflow: hidden;

  img {
  object-fit: cover;
  max-height: 160px;
  width: 100%;
  position: relative;
  z-index: -1;
  display: block;
  transition: transform 8s ease-in;
  }
}

.separator {
  display: inline-block;
  color: lightgrey;
  padding: 0 10px;
}

.footer {
  ul {
  li {
    a {
    padding-left: .5rem;
    padding-right: .5rem;
    }
  }
  }
  .social-link {
  font-size: 1.5rem;
  }
}

.form-control {
  background-color: transparent;
  border-color: rgba(0, 0, 0, .2);

  &:focus {
  background-color: white;
  }
}

.search-container {
  .form-control {
  max-width: 300px;
  padding-right: 28px;
  }

  [class*="close"] {
  position: absolute;
  right: 43px;
  top: 8px;
  z-index: 3;
  cursor: pointer;
  --ggs: 1;
  }
}

.search-results {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .2);

  li {
  a {
    display: block;
    padding: 10px 15px;
    color: $text-color;

    &:hover {
    background-color: $main-bg;
    color: inherit;
    }
  }

  &:first-child {
    a {
    padding-top: 15px;
    border-radius: 4px 4px 0 0;
    }
  }
  &:last-child {
    a {
    padding-bottom: 15px;
    border-radius: 0 0 4px 4px;
    }
  }

  &:only-child {
    a { border-radius: 4px; }
  }
  }
}