block content
  footer.footer.container
    nav.row.justify-content-center
      .col
        ul.list-inline
          li.list-inline-item
            a(href='/') Home
          li.list-inline-item
            a(href='/about/') About
          li.list-inline-item
            a(href='/blog/') Blog

    .row.justify-content-center
      .col
        small
          | &copy; 2020 
          a(href='/') Markdown Blog