block content
  footer.footer.container
    nav.row.text-center
      .col
        ul.list-inline
          li.list-inline-item
            a(href='/about/') About
          li.list-inline-item
            a(href='/blog/') Blog
          li.list-inline-item
            a(href='/contact/') Contact

    .row.text-center
      .col
        small
          | &copy; 2020 
          a(href='/') Markdown Blog