**/node_modules
package-lock.json
public/Episodes
bin/

# secret keys
github_actions_deploy_key*

# build output
public/stylesheets/*.css
public/stylesheets/styles.css.map

# macOS rubbish
.DS_Store


yarn.lock
tmp/
