
# Existing entries
**/node_modules
package-lock.json
public/Episodes
github_actions_deploy_key*
.DS_Store
Icon?
yarn.lock
tmp/

# New entries
# Environment files
.env
.server

# PM2 files
ecosystem.config.js
deploy.sh

# Logs
logs/
*.log

# CSS maps
*.css.map
