extends layout

block content
  include partials/header
  
  .container.page
    .blog-content
      .row
        .col.col-md-2
          h2
            a.hidden-link(href="/blog/") Blog
        .col-md-8
          p.author
            if author
              =author
            else
              =blogInfo.blog.author
            span.separator | 
            =date
          | !{content}


  include partials/footer