extends layout

block content
  include partials/header
  
  .container.page
    .blog-content
      .row
        .col.col-md-2
          h2 Blog
        .col-md-8
          ul.article-list.list-unstyled
            each article, ind in articles
              li
                a(href="/blog/" + article.slug)
                  ion-icon(name='document-text')
                  =article.title

  include partials/footer