extends layout

block content
  include partials/header
  
  .container.page
    .row
      .col
        h2 Blog

    .blog-content
      .row
        .col-md-8.offset-md-2
          ul.article-list.list-unstyled.mt-4
            each article, ind in articles
              li
                a(href="/blog/" + article.slug)= article.title

  include partials/footer