extends layout

block content
  include partials/header
  
  .container.page
    .row
      .col
        .jumbotron
          h1= title
    .row
      .col
        p Welcome to #{title}!

        h3 Markdown Syntax Examples

        p # Heading 1
        p ## Heading 2
        

        h3 Reference

        p
          a(href="https://www.markdownguide.org/") The Markdown Guide


  include partials/footer