extends layout

block content
  include partials/header
  
  .container.page
    .row
      .col
        .jumbotron
          h1= blogInfo.blog.title
          p.lead= blogInfo.blog.description
    .row
      .col
        p Welcome to #{blogInfo.blog.title}!

        h3 Markdown Syntax Examples

        p # Heading 1
        p ## Heading 2
        p !(Alt Attr)[http://image.com/img.jpg]        

        h3.mt-5 Reference

        p
          a(href="https://www.markdownguide.org/" rel="external" target="_blank")
            | The Markdown Guide
            |&nbsp;
            i.gg-external

        p
          a(href="https://github.com/astrit/css.gg" rel="external" target="_blank")
            | CSS.gg Icons
            |&nbsp;
            i.gg-external
        p
          a(href="https://css.gg/app" rel="external" target="_blank")
            | Search in CSS.gg icons collection
            |&nbsp;
            i.gg-external

        p
          a(href="https://ionicons.com" rel="external" target="_blank")
            | Ion Icons collection
            |&nbsp;
            i.gg-external
  


  include partials/footer