extends layout

block content
  include partials/header
  
  .container
    .row
      .col
        .jumbotron
          h1= title
    .row
      .col
        p Welcome to #{title}!!!

  include partials/footer