extends layout

block content
  include partials/header
  
  .container.page
    .row
      .col
        .jumbotron
          h1= blogInfo.title
    .row
      .col
        p Welcome to #{blogInfo.title}!

        h3 Markdown Syntax Examples

        p # Heading 1
        p ## Heading 2
        p !(Alt Attr)[http://image.com/img.jpg]        

        h3.mt-5 Reference

        p
          a(href="https://www.markdownguide.org/") The Markdown Guide


  include partials/footer