.banner
  .container
    .row
      .col
        .d-flex.justify-content-between.flex-wrap.px-3.py-4.px-md-0
          .d-inline-flex
            div.pr-3
              img(src="/images/icon-telegram.svg", alt="Telegram Logo")
            .d-flex.justify-content-between
              p.mb-0
                a.with-bg(href="https://t.me/techlifepodcast") https://t.me/techlifepodcast
              p.mb-0 Мы будем рады обсудить любые темы в чате.
          .d-flex.justify-content-center.flex-column.mt-3.mt-lg-0
            a.btn.btn-secondary.btn-lg(href="https://t.me/techlifepodcast") Заходите к нам в Телеграм