.episode-nav
  .row.mt-5
    .col-6.col-md-4
      a(href='/episodes/45')
        img.arrow.prev(src='/images/big-thin-angle.svg' alt='На предыдущий')
        b №45
        br
        | Виртуальности
    .col-6.offset-md-4.col-md-4
      a(href='/episodes/47')
        b №47
        br
        | JRE
        img.arrow.next(src='/images/big-thin-angle.svg' alt='На следующий')