.subscribe-links
  p
    b Слушайте и подписывайтесь:
  ul.sub-list.list-unstyled
    li
      a(href='https://podcasts.apple.com/podcast/tehnologii-i-zizn/id1013700516?mt=2')
        img(src='/images/platforms/ApplePodcast-icon.svg' alt='Apple Podcasts')
        span Apple Podcasts
    li
      a(href='https://overcast.fm/itunes1013700516')
        img(src='/images/platforms/Overcast-icon.svg' alt='Overcast')
        span Overcast
    li
      a(href='https://www.google.com/podcasts?feed=aHR0cHM6Ly90ZWNobGlmZXBvZGNhc3QuY29tL3BvZGNhc3QtZmVlZC54bWw')
        img(src='/images/platforms/Google-icon.svg' alt='Google Podcasts')
        span Google Podcasts
    li
      a(href='https://castro.fm/podcast/065bcf1c-b1b2-4bee-ab24-288381cf0c85')
        img(src='/images/platforms/Castro-icon.svg' alt='Castro')
        span Castro
    li
      a(href='//www.techlifepodcast.com/podcast-feed.xml')
        img(src='/images/platforms/RSS-icon.svg' alt='RSS feed')
        span RSS
    li
      a(href='https://open.spotify.com/show/03re4PmocsgPtLBtIxVK4m')
        img(src='/images/platforms/Spotify-icon.svg' alt='Spotify')
        span Spotify
    li
      a(href='https://pca.st/32DX')
        img(src='/images/platforms/Pocketcast-icon.svg' alt='Pocketcast')
        span Pocketcast
    li
      a(href='https://music.yandex.ru/album/7322142')
        img(src='/images/platforms/YandexMusic-icon.svg' alt='Яндекс Музыка')
        span Яндекс.Музыка
    li
      a(href='https://castbox.fm/channel/2046306')
        img(src='/images/platforms/CastBox-icon.svg' alt='CastBox')
        span CastBox
    li
      a(href='https://music.amazon.com/podcasts/96f3bfb1-179e-4ae4-8f43-b26ea9eec92d')
        img(src='/images/platforms/AmazonMusic-icon.svg' alt='Amazon Music')
        span Amazon Music
            
            