nav.mt-3.mb-4
  ul.list-inline
    li.list-inline-item
      a(href="/about").badge.badge-pill.badge-light О нас
    li.list-inline-item
      a(href="/resources").badge.badge-pill.badge-light Pecypcы

