if path
  .d-flex.justify-content-end.top-nav.align-items-center
    //- a.stats-dot.me-3(href="/stats" title="Statistics")
    nav.mt-3
      ul.list-inline.mb-3
        li.list-inline-item
          a.nav-pill(href="/" class=(path.includes('home') ? 'active' : ''))
            include ../../public/images/icon-home.svg
        li.list-inline-item
          a.nav-pill(href="/about" class=(path.includes('about') ? 'active' : '')) О нас
        li.list-inline-item
          a.nav-pill(href="/resources" class=(path.includes('resources') ? 'active' : '')) Pecypcы