block content
  .container.footer.mb-5.mb-sm-0.pb-5.pb-sm-0
    .row
      .col-lg-12
        p.text-center
          | Подкаст &#171;Технологии и жизнь&#187;. Techlife Podcast. Copyright 
          span.no-wrap © 2015-#{projectInfo.currentYear}.
          |  
          a(href='//www.techlifepodcast.com/podcast-feed.xml') RSS