block content
  .container.footer
    .row
      .col-lg-12
        p.text-center
          | Технологии и жизнь. Techlife. Copyright 
          span.no-wrap © 2015-{moment().year()}.
          |  
          a(href='//techlifepodcast.com/podcast-feed.xml') RSS