.container-fluid
  .row
    .col-lg-4.col-md-6
      .spacer-xs.spacer-sm
      .spacer-xs.spacer-sm
      p
        | Интернет радио-программа (или 
        b подкаст
        | ) про современные технологии, их влияние на нашу жизнь, и прочие мысли.
      p
        a.link-ext(href='https://t.me/techlifepodcast' rel='external')  t.me/techlifepodcast 
        br
        a.link-ext(href='mailto:talk@techlifepodcast.com' rel='external')  talk@techlifepodcast.com 
      .spacer-lg
    .col-lg-4.col-md-6
      include _top-nav

      p
        b Ведущие:
        br
        a(href='/about') Дмитрий Здоров и Василий Мязин.
    .col-lg-4.col-md-12
      include _subscribe-links
      