.container-fluid
  .row
    .col-lg-4.col-md-6
      .spacer-xs.spacer-sm
      .spacer-xs.spacer-sm
      p= projectInfo.project.description
      p
        a.link-ext(href='https://t.me/techlifepodcast' rel='external')  t.me/techlifepodcast 
        br
        a.link-ext(href='mailto:talk@techlifepodcast.com' rel='external')  talk@techlifepodcast.com 
      .spacer-lg
    .col-lg-4.col-md-6
      p
        b Ведущие:
        br
        a(href='/about') Дмитрий Здоров и Василий Мязин.
    .col-lg-4.col-md-12
      include _subscribe-links
      