nav.top-nav
  .container
    .row
      .col
        .navbar.navbar-expand.navbar-light
          a.navbar-brand(href="/")= blogInfo.blog.title

          ul.navbar-nav.ml-auto
            li.nav-item.d-none.d-sm-block
              a.nav-link(href='/' class=(path.length < 2 ? 'active' : '')) Home
            li.nav-item
              a.nav-link(href='/blog/' class=(path.includes('blog') ? 'active' : '')) Blog
            li.nav-item
              a.nav-link(href='/about/' class=(path.includes('about') ? 'active' : '')) About
            