@import url("https://unpkg.com/css.gg/icons/all.css");
/* Font sizes */
/* Colors */
body {
  background-color: #111;
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Fira Sans", "Helvetica Nueu", Arial, sans-serif;
  font-weight: 400;
  color: #fff;
}
body[class*=guests] {
  background: linear-gradient(180deg, #111111 0%, #031b28 73.4%, #111111 97.88%);
}
body[class*=stats] {
  background: linear-gradient(180deg, #111111 0%, #031b28 73.4%, #111111 97.88%);
}

@media (max-width: 320px) {
  body {
    background-position: calc(100% - 0px) top;
    background-size: 130%;
  }
}
.hide {
  display: none;
}

.no-wrap {
  white-space: nowrap;
}

p,
li {
  font-size: 24px;
  color: #f2f2f2;
  line-height: 1.6;
}

p {
  margin-bottom: 1.5rem;
}
p.lh-1 {
  line-height: 1;
}
p.lh-1_2 {
  line-height: 1.2;
}

p.small {
  font-size: 20px;
}

b, strong {
  font-weight: 600;
}

a,
.pseudo-link {
  color: #fff;
  border-bottom: 1px solid #ccc;
}
a:hover,
.pseudo-link:hover {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  border-bottom-color: #4d4d4d;
}

a.link-ext {
  color: #111;
  background: #fff;
  border: none;
}

.reset-link-style {
  border-bottom: 0;
}

.mask-link-style {
  border-bottom: 1px black solid;
}

h1 {
  text-align: center;
  margin: 0 0 1% 0;
}

h2 {
  font-weight: 600;
  line-height: 1;
  font-size: 60px;
  color: #41caff;
  text-shadow: rgba(0, 0, 0, 0.9333333333) 1px 1px 0;
  margin-top: 1.8vw;
}

h3 {
  font-size: 32px;
  font-weight: 600;
}
h3 .small-caps {
  font-size: 80%;
  font-weight: 300;
  text-transform: uppercase;
}
h3 * + .small-caps {
  padding-left: 10px;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

h3,
h4,
h5 {
  color: #aaa;
}

h3 + h2 {
  margin-top: 1vw;
}

@media screen and (min-width: 1890px) {
  h1 {
    font-size: 9.2vw;
  }
}
@media (min-width: 320px) and (max-width: 639px) {
  p,
  li {
    font-size: 20px;
  }
  h1 {
    font-size: 9.4vw;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  h3 .small-caps {
    font-size: 66%;
  }
  h4 {
    font-size: 20px;
    font-weight: 600;
  }
}
@media (min-width: 479px) and (max-width: 639px) {
  h2 {
    font-size: 24px;
  }
}
pre {
  color: rgba(255, 255, 255, 0.6666666667);
}

.master-container {
  max-width: 1890px;
  margin: 0 auto;
}

.top-nav {
  margin-bottom: -1rem;
  padding: 0 2rem;
}

a.d-flex {
  text-decoration: none;
  border: none;
}
a.d-flex:hover p {
  color: rgba(255, 255, 255, 0.7);
}

.nav-pill {
  display: inline-block;
  background-color: #333;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  color: #ccc;
  padding: 8px 20px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.07rem;
}
.nav-pill svg {
  margin: -5px 0 0;
}
.nav-pill:hover:not(.active) svg path {
  fill: #fff;
}
.nav-pill.active {
  color: #41caff;
}
.nav-pill.active path {
  fill: #41caff;
}

@media screen and (max-width: 639px) {
  .top-nav {
    padding: 0;
  }
  .nav-pill svg {
    height: 22px;
  }
}
.episode-list {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
  font-size: 24px;
  color: #aaa;
}
.episode-list li {
  position: relative;
  padding-left: 75px;
  margin-bottom: 10px;
  line-height: 1.3;
}
.episode-list li.selected {
  box-sizing: border-box;
  padding: 25px 25px 25px 120px;
  margin-left: -25px;
  margin-right: -25px;
  margin-bottom: 32px;
}
.episode-list li.selected .num-and-title {
  display: none;
}
.episode-list li.selected:after {
  content: "";
  position: absolute;
  top: 22px;
  left: -70px;
  width: 60px;
  height: 38px;
  background-image: url(/images/icon-pointer.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.episode-list .episode-num {
  position: absolute;
  left: 0;
  top: 0;
}

.dark-box,
.episode-list li.selected {
  border: 2px solid #aaa;
  background-color: rgba(0, 0, 0, 0.6);
}

.date {
  white-space: nowrap;
}

@media screen and (max-width: 576px) {
  .episode-list li.selected {
    background: #333;
    border: 0;
    padding-left: 25px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .episode-list li.selected .episode-num {
    position: static;
  }
  .episode-list li.selected .date {
    display: block;
    padding-left: 0;
    margin-top: 5px;
  }
}
@media (min-width: 320px) and (max-width: 639px) {
  .episode-list {
    font-size: 20px;
  }
}
.selected-box {
  position: relative;
}
.selected-box .episode-num {
  left: -97px;
}
.selected-box div > h3,
.selected-box h4 {
  padding-right: 75px;
  margin-bottom: 1.5rem;
}
.selected-box .player {
  position: absolute;
  top: 0;
  right: 0;
}

.episode-desc {
  position: relative;
  font-size: 24px;
  color: #aaa;
}
.episode-desc > p {
  width: calc(100% - 100px);
}
.episode-desc p {
  line-height: 1.35;
  color: #ccc;
}
.episode-desc p:last-of-type {
  margin-bottom: 0;
}
.episode-desc ul,
.episode-desc ol {
  margin: 0 0 2rem;
  padding: 0;
}
.episode-desc ul li,
.episode-desc ol li {
  padding-left: 0;
  margin-left: 20px;
  margin-bottom: 10px;
  color: #ccc;
  line-height: 1.55;
}
.episode-desc ul li a b,
.episode-desc ol li a b {
  color: white;
}
.episode-desc img {
  max-width: 600px;
  width: 100%;
}

@media (max-width: 639px) {
  .episode-desc > p {
    width: auto;
  }
}
@media (min-width: 320px) and (max-width: 639px) {
  .episode-desc {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .spacer-xs {
    height: 25vw;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .spacer-sm {
    height: 20vw;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .spacer-md {
    height: 20vw;
  }
}
@media screen and (min-width: 993px) {
  .spacer-lg {
    height: 10vw;
  }
}
.bulleted {
  list-style: none;
  list-style-type: disc;
  list-style-position: outside;
}

@media (min-width: 639px) {
  .nav-back {
    margin-left: -1.9rem;
  }
}
.footer .row {
  margin: 80px 0 0;
}
.footer .row p {
  font-size: 20px;
  color: #aaa;
}
@media screen and (max-width: 639px) {
  .footer .row p {
    font-size: 16px;
  }
}

.btn {
  border-radius: 3px;
  font-weight: 600;
  letter-spacing: 0.07rem;
}

.btn-primary {
  background-color: #41caff;
  color: white;
  border-color: #41caff;
}

.btn-secondary {
  background-color: #009dda;
  color: white;
  border-color: #009dda;
}
.btn-secondary:hover {
  background-color: #005474;
}

.btn-lg {
  font-size: 24px;
}

.btn-play {
  display: inline-block;
  width: 66px;
  height: 66px;
  background-image: url(/images/btn-play.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  text-indent: -4000px;
}
.btn-play:hover {
  opacity: 0.7;
}
.btn-play.is-playing, .btn-play[data-is-playing=true] {
  background-image: url(/images/btn-pause.svg);
  position: relative;
}
.btn-play.is-playing::after, .btn-play[data-is-playing=true]::after {
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border: 3px dotted #111;
  border-radius: 50%;
  animation: rotating 20s linear infinite;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.textual h3 {
  color: #f2f2f2;
}
.textual p {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: rgba(0, 0, 0, 0.9333333333) 1px 1px 0;
}

.episode-nav {
  font-size: 20px;
  padding: 0 50px;
}
.episode-nav a {
  border: 0;
  display: inline-block;
  position: relative;
  line-height: 1.4;
}
.episode-nav a .arrow {
  height: 60px;
  position: absolute;
  top: 10px;
}
.episode-nav a .arrow.prev {
  left: -50px;
  transform: rotate(180deg);
}
.episode-nav a .arrow.next {
  right: -50px;
}
.episode-nav a:hover {
  opacity: 0.8;
}
.episode-nav .num {
  color: #41caff;
}
@media (max-width: 639px) {
  .episode-nav {
    padding: 0 25px;
  }
  .episode-nav a .arrow {
    height: 40px;
  }
  .episode-nav a .arrow.prev {
    left: -30px;
  }
  .episode-nav a .arrow.next {
    right: -30px;
  }
}

.huge {
  font-size: 260px;
  line-height: 1;
}

.sub-list {
  -moz-columns: 2;
  -webkit-columns: 2;
  columns: 2;
}
.sub-list li {
  margin-bottom: 0.8rem;
  font-size: 20px;
  display: inline-block;
  width: 100%;
}
.sub-list li a {
  border-bottom-width: 0;
  display: block;
  transition: all 0.1s ease-in-out;
}
.sub-list li a img {
  margin-right: 8px;
  transition: all 0.1s ease-in-out;
}
.sub-list li a span {
  border-bottom: 1px solid #ccc;
  transition: all 0.1s ease-in-out;
}
.sub-list li a:hover img {
  margin-right: 10px;
}
.sub-list li a:hover span {
  border-bottom-width: 0;
}

@media (max-width: 639px) {
  .sub-list li {
    font-size: 16px;
  }
}
@media screen and (min-width: 639px) and (max-width: 991px) {
  .sub-list {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }
}
@media screen and (min-width: 992px) and (max-width: 1279px) {
  .sub-list {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}
.player-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.8666666667);
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}
.player-wrapper.active {
  transform: translateY(0%);
}

.progress-wrapper {
  flex: 1;
}

.progress-bard {
  position: relative;
  width: 100%;
  height: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  cursor: pointer;
}
.progress-bard:hover {
  background-color: #fff;
}
.progress-bard .so-far {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: #41caff;
  border-radius: 50px 0 0 50px;
}

.list-inline .badge {
  font-size: 100%;
}

.avatar {
  border-radius: 50%;
  max-width: 150px;
}

blockquote {
  font-style: oblique;
}

.banner {
  background-color: #ccc;
}
.banner p {
  font-size: 20px;
  color: #333;
}

@media (max-width: 639px) {
  .banner p {
    font-size: 16px;
  }
}
.with-bg {
  padding: 0.35rem 0.5rem;
  background-color: #333;
  color: white;
  display: inline-block;
}

.callout {
  padding: 2rem;
  margin: auto -2rem;
  border: 1px solid #ccc;
}
.callout p {
  color: white;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout li {
  margin-bottom: 0.5rem;
}
.callout.accented {
  background-color: #41caff;
  border: 0;
}
.callout.accented p,
.callout.accented li {
  color: #111;
}
@media (max-width: 639px) {
  .callout {
    margin: auto -0.9rem;
  }
}

img.hero-image {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.error-page {
  background: url(/images/bg-404-concrete.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.stats-overview {
  padding: 20px;
}

.stat-box {
  width: 200px;
  height: 200px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stat-number {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.stat-label {
  font-size: 1.4rem;
  line-height: 1.2;
  opacity: 0.8;
}

.year-label {
  font-size: 1.2rem;
}

.episode-block {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #40caff;
  margin: 5px;
  text-align: center;
  font-size: 0;
  line-height: 50px;
  position: relative;
}
.episode-block:hover {
  background-color: #ffffff;
}

.episode-tooltip {
  position: absolute;
  bottom: calc(100% + 5px);
  left: 0;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: none;
  min-width: 200px;
}
.episode-tooltip p {
  color: #333;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.3;
}

/*# sourceMappingURL=styles.css.map */
