extends layout

block content
  section(class='textual')
    .container
      include partials/_sec-nav

      .row.mb-4
        .col
          h2 О нас
      .row.dark-box.p-4
        .col-xs-12.col-md-6.pr-5
          .d-flex.flex-row.align-items-center.my-5
            p.mr-3
              img.avatar(src="/images/vasily-img.jpg", alt="Фото Васи")
            h3 Василий Мязин
          p Дизайнер по жизни и по призванию, Василий родился в городе Липецке, Россия. С юного возраста он тянулся к компьютерам, рисованию и программированию.
          p В 12 лет он создавал карты для игры Doom и по ночам ему снились кошмары о монстрах с Марса. Примерно в это же время стал изучать C++, который так и не освоил, но приобрел общие навыки в программировании. В 14 лет сделал первый веб-сайт изучив HTML за одну ночь.
          p Одновременно с общеобразовательной школой закончил художественную. В университете учился на художника-инженера. В 2002-м уехал на ПМЖ в США, где проживал и набирался профессионального опыта в Лос-Анджелесе, Сан-Франциско и Нью-Йорке. С 2016-го активно путешествует по миру, предпочитая Латинскую Америку и Юго-Восточную Азию.
          p Ведёт каналы на Телеграме – <a href="https://t.me/kochevnika">"Вася наблюдает"</a> и <a href="https://t.me/aimusicspot">AI Music Spot</a>.
          p Ведёт блог на английском – <a href="https://www.vasilym.com">vasilym.com</a>.

        .col-xs-12.col-md-6.pl-5
          .d-flex.flex-row.align-items-center.my-5
            p.mr-3
              img.avatar(src="/images/dimka-img.jpg", alt="Фото Димки")
            h3 Дмитрий Здоров
          p Рисует всё подряд, в последнее время даже шрифты. Любит технологии, неформальное кино, современное искусство, электронную музыку и большие города в разных странах. Знает много кофеен, которые навещает по всему миру. Большой фанат Японии.
          p В Москве учился на прикладную математику, в Бостоне на дизайн и мультипликацию. Жил в Сан-Франциско, Пхукете, Риге, сейчас в основном в Москве.
          p Кем только не работал, но в последние годы в основном в области разработки веб и мобильных приложений и платформ, как менеджер и дизайнер.
          p Имеет тенденцию философствовать, чем привлекает единомышленников в сфере поиска ответов на вечные вопросы.
          p Ведёт <a href="https://www.dimka.com/blog/">блог</a>, когда-то писал в <a href="https://thedimka.livejournal.com/">ЖЖ</a> и <a href="https://plurk.com/thedimka">Plurk</a>.
          p Ведёт несколько каналов на Телеграме: <a href="https://t.me/s/dvestispoley">"Двести сполей"</a>, <a href="https://t.me/dimkaimg">Dimka IMG</a>, <a href="https://t.me/DimkaVideo">Dimka Video Links</a>.

  .mt-5.pt-5
  include partials/_banner-telegram

  .mt-5
  include partials/header
  .container
    .row
      div.col-12.mt-5.mt-md-2.text-center
        img(src='/images/QR-Code.png' alt='QR Code')

  include partials/footer