extends layout

block content
  section(class='textual')      
    .container
      .text-center
        include partials/_top-nav
      include partials/_sec-nav

      .row.mb-4
        .col
          h2 О нас
      .row
        .col-xs-12.col-md-6
          p
            img.avatar(src="/images/dimka-img.jpg", alt="Фото Димки")
          h3 Дмитрий
          p Рисует всё подряд, в последнее время даже шрифты. Любит технологии, неформальное кино, современное искусство, электронную музыку и большие города в разных странах. Знает много кофеен, которые навещает по всему миру.
          p В Москве учился на прикладную математику, в Бостоне на дизайн и мультипликацию. Жил в Сан-Франциско, Пхукете, Риге, сейчас в основном в Москве.
          p Кем только не работал, но в последние годы в основном в области разработки веб и мобильных приложений и платформ, как менеджер и дизайнер.
        .col-xs-12.col-md-6
          p
            img.avatar(src="/images/vasily-img.jpg", alt="Фото Васи")
          h3 Василий
          p Дизайнер по жизни и по призванию, Василий родился и вырос в городе Липецке, Россия. С юного возраста он тянулся к компьютерам, рисованию и программированию.
          p В 12 лет он создавал карты для игры Doom и по ночам ему снились кошмары о монстрах с Марса. Примерно в это же время стал изучать C++, который так и не освоил, но приобрел общие навыки в программировании. В 14 лет сделал первый веб-сайт изучив HTML за одну ночь (!) – о британской группе The Prodigy.
          p Одновременно с общеобразовательной школой закончил художественную. В университете учился на художника-инженера. В 2002-м уехал на ПМЖ в США, где проживал и набирался профессионального опыта в Лос-Анджелесе, Сан-Франциско и Нью-Йорке. Последние пару лет путешествует по миру, предпочитая Латинскую Америку и Юго-Восточную Азию.
  
    .mt-5
    include partials/header
    .container
      .row
        div(class='col-12 mt-5 text-center')
          img(src='/images/QR-Code.svg' alt='QR Code')  

  include partials/footer