extends layout

block content
  include partials/header
  
  .container.page
    .row
      .col.col-md-8
        h2 About
        p Here is the deal. This platform is simple. It was created by Vasily Myazin to use as a foundation for future simple web sites.
        
        p Markdown is the language used to write blog posts. Each blog post must be accompanied by a .json file with the same name.

  include partials/footer