extends layout

block content
  include partials/header
  
  .container.page
    .blog-content
      .row
        .col.col-md-2
          h2.font-light
            a.hidden-link(href="/blog/")
              ion-icon.align-middle(name="arrow-back")
              | Posts
        .col-md-8
          p.author
            if postMetaData.author
              =postMetaData.author
            else
              =blogInfo.blog.author
            span.separator | 
            =postMetaData.date
          | !{content}


  include partials/footer