extends layout

block content
  include partials/header
  
  .container.page
    .blog-content
      .row
        .col.col-lg-2
          h2 Blog
        .col-lg-7
          include partials/_featured-posts.pug

          ul.article-list.list-unstyled
            each article, ind in articles
              if ind >= 2
                li
                  a(href="/blog/" + article.slug)
                    ion-icon(name='document-text')
                    =article.title
                    | 
                    small.text-nowrap.meta= article.date

        .col.col-lg-3
          .input-group.search-container
            input#search.form-control(type='text' placeholder='Search posts' aria-label='Search posts' aria-describedby='basic-addon2' autocomplete="off")
            i.gg-close.clear-search-input
            .input-group-append
              button.btn.btn-outline-secondary(type="button")
                i.gg-search
          ul.list-unstyled.search-results

  include partials/footer