extends layout

block content
  include partials/header
  
  .container.page
    .blog-content
      .row
        .col.col-md-2
          h2 Contact
        .col-md-8
          p Email me at <a href="mailto:">contact@markdown.blog</a>


  include partials/footer