extends layout

block content
  include partials/header
  
  .container.page
    .blog-content
      .row
        .col
          h2 Contact
          p Email your feedback and questions at <a href="mailto:support@tapirio.com">support@tapirio.com</a>.
          p Follow us on <a href=#{blogInfo.social.twitter}>Twitter</a>.


  include partials/footer