extends layout

block content
  section(class='textual')      
    .container
      include partials/_sec-nav

      .row.mb-4
        .col.col-md-10.col-lg-8.offset-lg-2.offset-md-1
          h2 Инструкции для гостей подкаста

          .callout.my-4
            p Если вы это читаете, то скорее всего вы были приглашены или думаете стать гостем на нашем подкасте. Мы очень этому рады! Здесь мы расскажем о том, как мы записываем наши выпуски.

          .callout.accented.my-5
            h3.mb-4 По пунктам, если лень читать все инструкции:

            ol
              li Мы намечаем тему заранее (но не всегда).
              li Выбираем когда и по какой программе созваниваемся. 📲
              li Включить видео при звонке помогает, но не обязательно.
              li Перед записью мы немного пообщаемся для разогрева.
              li Каждый записывает только себя и слушает других в наушниках 🎧 (ВАЖНО).
              li Подойдет любой аудио-формат.
              li Хороший микрофон желателен, но не обязателен. 🎙️ Записывать можно прямо в микрофон смартфона.
              li После записи присылайте файл с вашим голосом.
              li Готовый выпуск обычно выходит длительностью в 30 минут, на всю запись надо выделить 1 час. ⏰
              li Любые заминки можно вырезать – не волнуйтесь. 😏

          h3.mb-4 Теперь о процессе записи подкаста подробнее

          p У нас есть заметки, где мы точно или примерно намечаем тему. Но делаем мы это не всегда. Далее мы созваниваемся используя одну из следующих платформ: Apple FaceTime, Telegram, Skype или Zoom (в порядке предпочтения).
 
          p Все они подходят для нашего общего звонка. Главное выбрать ту, которая удобней или привычней вам.

          p Мы сами иногда их меняем, если в одной что-то временно барахлит или заедает. Звонок с видео идёт лучше, и чем больше людей принимает участие тем больше наличие видео помогает, но это тоже не обязательно. Тем более в случаях когда связь слабая, то вообще лучше не растрачивать силу сигнала на видео, которое всё равно в сам эпизод подкаста не войдёт. 

          p Созвонившись мы немного обсуждаем о чём пойдёт речь, но стараемся не углубляться в детали, чтобы сама беседа была более живой и естественной.

          p Для самой записи мы обычно используем микрофон, наушники и ещё одно устройство, в дополнение к тому по которому разговариваем. И вот на этом втором устройстве мы записываем только себя. То есть каждый записывает только свой голос, и не записывает голоса собеседников.

          p Покуда связь почти всегда неидеальная, то голос записанный через интернет будет и ниже качеством, зачастую с заметными искажениями, или даже пробелами. При локальной записи такой проблемы нет вообще. А второе устройство и наушники позволяют изолировать голоса собеседников чтобы в записи остался только ваш голос.

          p Хороший микрофон конечно же поможет, но на современных телефонах и наушниках качество звукозаписи уже приемлемо, особенно если вы можете найти тихое место, в котором не будем посторонних шумов и мешающих звуков.

          h3.mb-3 Вот простой пример как вам организовать запись
          p Мы созваниваемся по скайпу, с компьютера, в который включены наушники с микрофоном. А в дополнение вы берете свой мобильный телефон и на нём просто включаете запись. Таким образом вы в наушниках будете прекрасно слышать нас, а микрофон телефона запишет только ваш голос — это то, что нужно. 🙌

          p Можно конечно же и наоборот, созвониться с мобильного телефона, а записывать на компьютере, или на планшете, на втором телефоне, или даже на классическом диктофоне.

          p Далее вы пришлёте файл и мы уже сами объединим все отдельные звуковые дорожки и получится качественно записанная беседа, как-будто мы все рядом.

          p Для записи звука мы сами чаще всего используем ноутбук (Макбук), и бесплатную программу <a href="https://www.ocenaudio.com">ocenaudio</a>, она также имеется и для Windows. На мобильном телефоне и на Андроиде и на iOS есть встроенные программы для записи голоса, они отлично для этого подойдут.

          p Записывать можно в любом формате, например WAV, AIF, MP3, или M4A, не принципиально моно или стерео, моно просто меньше места занимает.

          .callout.my-4
            p
              b Во время записи старайтесь:
              ul
                li не сильно стучать по столу,
                li не теребить микрофон (особенно если он на петличке),
                li но и не забывать что лучше говорить в него (особенно если это отдельный стоящий микрофон).

          p
            i Мы будем очень признательны за любые сслыки на то, что вы упомянули во время записи.

          p Наши эпизоды обычно получаются примерно по полчаса, но всё вместе с созвоном, настройкой может занять немного больше, но практически всегда уложимся в 1 час. Если будут какие-то ситуации из-за которых беседа прервалась обычно такие моменты можно вырезать. Поэтому не переживайте, всё будет нормально. 👍👍

    .mt-5.pt-5
    include partials/_banner-telegram

    .mt-5
    include partials/header
    .container
      .row
        div(class='col-12 mt-5 text-center')
          img(src='/images/QR-Code.png' alt='QR Code')  

  include partials/footer