extends layout

block content
  include partials/header
  
  .container
    .row
      .col-sm-12
        h2 Наши выпуски!

        ul.episode-list
          each item, ind in podcast.channel.item
            li(data-episode-num=item.episodeNum)
              .num-and-title(title=item.pubDateConverted)
                span.episode-num №#{item.episodeNum}
                |  
                span.show-episode.pseudo-link #{item.title}
              .selected-box

  include partials/footer
  
  include partials/_player
