extends layout

block content
  .container.page
    .blog-content
      include partials/_sec-nav
      .row
        .col.col-lg-8
          h2 Ресурсы
          h3 Дополнительные материалы в качестве приложения к подкасту
          .my-5
          p В этой секции мы будем размещать статьи, картинки, ссылки, и прочие контент, который не вошёл в другие страницы нашего сайта.
      .row
        .col
          h3 Для подкастинга
          ul.bulleted
            li
              a(href="https://www.ocenaudio.com") Ocenaudio: редактор аудио для Мака (бесплатный!)
            li
              a(href="https://rogueamoeba.com/audiohijack/") Audio Hijack: запись любого источника аудио для Мака ($59)

  .mt-5
  .spacer-lg
  include partials/header

  include partials/footer