extends layout

block content
  .container.page
    .blog-content
      include partials/_sec-nav
      .row
        .col.col-lg-8
          h2 Ресурсы
          h3 Дополнительные материалы в качестве приложения к подкасту
          .my-5
          p В этой секции мы будем размещать статьи, картинки, ссылки, и прочий контент, который не вошёл в другие страницы нашего сайта.
      .row
        .col-lg-10
          h3 Для подкастинга
          ul.bulleted
            li
              a(href="https://www.ocenaudio.com") <b>Ocenaudio:</b> редактор аудио для Мака (бесплатно)
            li
              a(href="https://rogueamoeba.com/audiohijack/") <b>Audio Hijack:</b> запись любого источника аудио для Мака ($59)
            li
              a(href="https://www.apple.com/logic-pro/") <b>Logic Pro X:</b> профессиональный редактор аудио и MIDI для Мака ($199.99)
            li
              a(href="http://www.pa-software.com/id3editor/") <b>ID3 Editor:</b> полезная утилита для редактирования мета-данных в MP3 файле ($15)
            li 
              a(href="https://overcast.fm/") <b>Overcast:</b> iOS and iPadOS app в которой мы слушаем подкасты (бесплатная, добровольные донаты за доп фичи)

  .mt-5
  .spacer-lg
  include partials/header

  include partials/footer